application.properties
data.sql
.classpath
.gitignore
maven-wrapper.jar
maven-wrapper.properties
.project
org.eclipse.core.resource.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.wst.common.project.facet.core.xml
mvnw
mvnw.cmd
MANIFEST.MF
pom.properties
*.class
target/*
/target/classes/templates/home.html
/target/classes/templates/home.html
/target/classes/META-INF/maven/pl.finanse/zrzutek/pom.properties
/target/classes/META-INF/maven/pl.finanse/zrzutek/pom.properties
/target/classes/META-INF/maven/pl.finanse/zrzutek/pom.properties
/target/classes/META-INF/maven/pl.finanse/zrzutek/pom.properties
/target/classes/pl/finanse/zrzutek/configuration/WebSecurityConfig.class
/target/classes/pl/finanse/zrzutek/controller/UserpanelController.class
/target/classes/pl/finanse/zrzutek/entity/ShoppingList.class
/target/classes/pl/finanse/zrzutek/entity/User.class
/target/classes/pl/finanse/zrzutek/repository/ShoppingListRepository.class
/target/classes/pl/finanse/zrzutek/repository/UserRepository.class
/target/classes/pl/finanse/zrzutek/services/ShoppingListService.class
/target/classes/schema.sql
/target/classes/static/css/style.css
/target/classes/templates/home.html
/target/classes/templates/login.html
/target/classes/templates/shoppinglist.html
/target/classes/templates/userpanel.html
